*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: black;

}

.carousel {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
}

ul.slides {
  display: block;
  position: relative;
  height: 900px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

ul.slides input {
  display: none; 
}


.slide-container { 
  display: block; 
}

.slide-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all .7s ease-in-out;
}   

.slide-image img {
  width: auto;
  min-width: 50%;
  height: 50%;
}

.carousel-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 100px;
  line-height: 600px;
  color: #fff;
}

.carousel-controls label {
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 0;
  transition: opacity .2s;
  cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
  opacity: 0.5;
}

.carousel-controls label:hover {
  opacity: 1;
}

.carousel-controls .prev-slide {
  width: 49%;
  text-align: left;
  left: 0;
}

.carousel-controls .next-slide {
  width: 49%;
  text-align: right;
  right: 0;
}


input:checked + .slide-container .slide-image {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
   display: block; 
}


input:checked + .slide-container .nav label { display: block; }


.alinear{
  width: 350px;
  height: 600px;
  margin: 0 5px;

}

.conteiner{
  display: flex;
  justify-content: center;

}

@media (max-width: 900px) {
  .conteiner{
    flex-direction: column;
    align-items: center;
  
  }

  .alinear{
    margin-bottom: 10px;
  }
}

h3{
  font-family:  "PT Serif", serif;
      font-style: bold;
      font-size: 45px;
  text-align: center;
  color: #fff;
  margin-top: 6%;
}

h2{
  font-family:"PT Serif", serif;
  text-align: left;
  color: #fff;
  font-size: 15px;
}

.final{
  margin-top: -800;
  margin-bottom: 3%;

}